<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Все карточки</h1>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div class="text-center">
      <% @cards.each do |card| %>
      <div class="card">
          <p><%= I18n.localize(card.review_date.to_date, :format => :myformat) %></p>
          <p><strong><%= card.original_text %></strong> |
          <%= card.translated_text %></p>
          <p><%= link_to 'изменить', edit_card_path(card) %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>