<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">Все карточки</h1>
	</div>
	<div class="col-md-4 col-md-offset-4">
		<div class="text-center">
			<%= render partial: 'flashes' %>
			<%= render @cards %>
		</div>
	</div>
</div>